<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lazydigger</title>
    <title>Lazy Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
    <div class="container text-white">
        <div class="col">
            <div class="row">
                <div class="col align-self-start">
                    <br>
                    <span class="fs-5 font-weight-bold"><b>Account: </b></span>
                    <span id="user_account" class="fs-5 font-weight-bold">
                        <%= username %>
                    </span>
                </div>
                <div class="col align-self-end">
                    <a class="btn btn-warning fs-6" href="/" target="_blank"
                        style="margin-left: 10px;width: 130px">Bot</a>
                    <a class="btn btn-info" href="https://discord.gg/DRCkvyvGqg" target="_blank"
                        style="margin-left: 10px;width: 130px">Our Discord</a>
                    <a class="btn btn-danger" href="/logout" style="margin-left: 10px;width: 130px">Logout</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col align-self-start">
                    <div class="flex flex-row items-center justify-center w-full">
                        <label class="text-center lg:mr-4">Wallet:</label>
                        <input type="text" id="wallet_list"
                            class="shadow appearance-none w-4/6 rounded py-2 px-3 bg-gray-300 text-gray-800 font-bold leading-tight focus:outline-none focus:shadow-outline"
                            value="">
                        <button id="add_btn" type="button" class="btn btn-success fs-6"
                            style="margin-left: 10px;width: 100px">Add</button>
                        <button id="update_btn" type="button" class="btn btn-warning fs-6"
                            style="margin-left: 10px;width: 150px">Update table</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <!-- <div class="col-auto"> -->
            <div class="col">
                <div class="table-responsive-lg">
                    <table class="table table-bordered table-dark text-white text-center">
                        <thead>
                            <tr class="text-center ">
                                <th scope="col">Remove</th>
                                <th scope="col">#</th>
                                <th scope="col">Wallet</th>
                                <th scope="col">CPU</th>
                                <th scope="col">STAKE</th>
                                <th scope="col">TLM</th>
                                <th scope="col">WAX</th>
                                <th scope="col">LAST MINE</th>
                                <th scope="col">NFT</th>
                                <th scope="col">isVIP</th>
                                <th scope="col">VIP code</th>
                                <th scope="col">VIP start</th>
                                <th scope="col">VIP end</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                                <tr class="text-center">
                                    <td class='p-3'>
                                        <button type='button' onclick=deleteAcc('<%=data.id %>','<%=data.code %>')
                                                class='btn btn-danger btn-sm fs-6' style='margin-left: 10px;width:
                                                20px'>D</button>
                                    </td>
                                    <td>
                                        <%=i; %>
                                    </td>
                                    <td>
                                        <%=data.id %>
                                    </td>
                                    <td>
                                        <button type='button' id="cpu" class='btn btn-success
                                            btn-sm fs-6' style='width: 85px'>130.00%</button>
                                    </td>
                                    <td>
                                        <span id="stake"> 0.0000 </span>
                                    </td>
                                    <td>
                                        <span id="tlm_balance"> 0.0000 TLM</span>
                                    </td>
                                    <td>
                                        <span id="wax_balance"> 0.0000 WAX</span>
                                    </td>
                                    <td>
                                        <span id="last_mine"> 0 min</span>
                                    </td>
                                    <td>
                                        2 NFTs
                                        <button type='button' onclick=saveCode("<%=data.id %>") class='btn btn-success
                                            btn-sm fs-6' style='width: 70px'>claim</button>
                                    </td>
                                    <td>
                                        <%=data.vip==1? "true" : "false" %>
                                    </td>
                                    <td>
                                        <input type="text" id="<%=data.id %>_code" value='<%=data.code %>'
                                            style="width: 150px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
                                        <button type='button' onclick=saveCode("<%=data.id %>") class='btn btn-success
                                            btn-sm fs-6' style='margin-left: 10px;width: 70px'>save</button>
                                    </td>
                                    <td>
                                        <%= new Date(data.vipstart).toLocaleDateString("en-au",{ day: 'numeric' ,
                                            month: 'short' , year: 'numeric' }); %>
                                    </td>
                                    <td>
                                        <%= new Date(data.vipend).toLocaleDateString("en-au", { day: 'numeric' ,
                                            month: 'short' , year: 'numeric' }); %>
                                    </td>
                                    <!-- <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
                                </tr>
                                <% i++; }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="7">No Data Found</td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script>
        //DELETE ACC
        const deleteAcc = async (wamAcc, code) => {
            try {
                await fetch('/deleteWam',
                    {
                        method: 'POST',
                        body: JSON.stringify(
                            {
                                username: '<%= username %>',
                                wax: wamAcc,
                                code: code
                            }
                        ),
                        header: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then((res) => {
                        if (res.status == 200) {
                            window.location.reload();
                        }

                    }).catch((err) => {
                        alert(res.text('Error: cannot delete Wax account ' + err.message))
                    });
            } catch (err) {
                throw err;
            }
        };

        //SAVE CODE
        const saveCode = async (wamAcc, vipCode) => {
            try {
                await fetch('/addCode',
                    {
                        method: 'POST',
                        body: JSON.stringify(
                            {
                                username: '<%= username %>',
                                wax: wamAcc,
                                code: document.getElementById(wamAcc + "_code").value
                            }
                        ),
                        header: {
                            'Accept': '*/*',
                            'Content-Type': 'application/json'
                        }
                    }).then(function (response) {
                        if (response.status == 200) {
                            return response.text()
                        }
                    }).then(function (result) {
                        window.location.reload();
                    }).catch((err) => {
                        alert(err.message)
                    });
            } catch (err) {
                throw err;
            }
        };

        //ADD WAX
        document.getElementById("add_btn").onclick = async function () {
            try {
                await fetch('/addWam',
                    {
                        method: 'POST',
                        body: JSON.stringify(
                            {
                                username: '<%= username %>',
                                waxlist: (document.getElementById("wallet_list").value).match(/[a-z0-9.]{4,5}(?:.wam)/g)
                            }
                        ),
                        header: {
                            'Accept': 'application/json',
                        }
                    }).then((res) => {
                        if (res.status == 200) {
                            window.location.reload();
                        }

                    }).catch((err) => {
                        alert(res.text('Error: cannot add Wax account ' + err.message))
                    });
            } catch (err) {
                throw err;
            }
        };
        document.getElementById("update_btn").onclick = async function () {
            try {
                window.location.reload();
            } catch (err) {
                throw err;
            }
        };
    </script>

</body>

</html>